$global-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;;
$global-font-weight: 400;
$global-font-size: 18px;
$global-letter-spacing: 0.02em;
$global-font-color: #555555;
$global-white-color: #FFFFFF;
$global-orange-color: #FF6C00;
$global-blackgray-color: #303030;
$global-purple-color: #9DA4BD;
$background-gray-color: #F7F7F7;
$background-dark-color: #191C26;
$hero-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
$form-placeholders-color: rgba(157, 164, 189, 0.4);
$global-transition-duration: 250ms;
$global-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$modal-window-backdrop-color: rgba(0, 0, 0, 0.2);