<header class="header">
    <div class="header-container">
        <button class="login-button">Log In</button>
        <button class="signin-button">Sign In</button>
        <button class="logoff-button">Log off</button>
        <button class="write-button">Write</button>
        <form class="search-form" id="search-form">
            <input
                class="search-input"
                type="text"
                name="searchQuery"
                autocomplete="off"
                placeholder="Search images..."
            />
            <button class="search-button" type="submit">
                <svg class="search-button-icon">
                    <use href="./images/svg/icons.svg#icon-search"></use>
                </svg>
            </button>
        </form>
    </div>
</header>
