<div class="modal-window-backdrop modal-hidden" data-modal>
    <div class="modal-window">
        <button class="modal-window__close-button" data-modal-close>
            <svg class="modal-window__close-icon">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="modal-window__tittle">Online-booking</h2>
        <form class="modal-window__form">
            <input
                class="modal-window__input"
                name="login"
                type="text"
                placeholder="Login*"
            />
            <input
                class="modal-window__input"
                name="password"
                type="password"
                placeholder="Password*"
            />
            <button class="modal-window__button button" type="submit">Login</button>
        </form>
    </div>
</div>
